* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
background-color: #f6f6f6;
color: #222;
font-family: 'Lato', 'Arial', sans-serif;
font-size: 20px;
font-weight: 300;
text-rendering: optimizeLegibility;
}

section {
    margin-bottom: 60px;
}

.home {
    text-transform: uppercase;
    font-weight: 300;
}

h1, h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

.profile {
    position: relative;
    border-radius: 50%;
}

p { 
    margin-bottom: 30px;
    
}

h2 {
    font-size: 180%;
    text-align: left;
    word-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #800;
    content: " ";
    width: auto;
    margin: 0 auto;
    margin-top: 30px;
}

.description {
    line-height: 145%;
}

.row {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

img, iframe {
    width: 100%;
    height: 100%;
}

iframe {
    height: 300px;
}